.cli {


    height: 180px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    padding-top: 25px;
    padding-left: 30vw;
    padding-right: 5vw;

    color: #1F2421;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    line-height: 25%;
    font-size: 22px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.30), 0 5px 5px rgba(0,0,0,0.22);
}
.cli .text p {
}

.cli .text b {
    font-weight: 400;
}