body {
    font-family: 'Roboto', sans-serif;
}

.logo-112 {
    position:fixed;
    left:200px;
    top:3px;

    font-style: italic;
    font-weight:800;
    font-size: 34px;
}

.navbar-align-right {
    position:fixed;
    right:200px;
    top:15px;
}

.active {
    border-bottom: 2px solid white;
}

.round-blue-rect {
    padding:0px;
}


@media only screen and (max-width: 500px) {
    .round-blue-rect {
        padding:7px;
        border-radius:5px;
        background-color: blue;
    }
}