.container {
    width: 60vw;

    margin-top: 10vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 15vh;
}

#page-title {
    text-align: center;
    font-size: 3vw;
    font-weight: 800;
    color: #5AB9EA;
    margin-bottom: 6vw;
}

hr {
    height: 2px;
    background-color: black;
    border: none;
    margin-bottom: 15vh;
}

.blog-post-section {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 8vw
}

.blog-post-section .post-title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1vw;
}

.blog-post-section .details-row {
    position: relative;
    margin-bottom: 24px;
}

.blog-post-section .details-row .post-category {
    font-size: 24px;
}

.blog-post-section .details-row .post-date {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.blog-post-section .post-description {
    font-style: italic;
    font-size: 24px;
    margin-bottom: 1vw;
}

.blog-post-section .post-link-section a {
    font-weight: 800;
    font-size: 28px;
    color: #5AB9EA;
}

