

/* Content */
.homepage .content {
    position: absolute;
    left: 10vw;
    top: 30vh;
}

.homepage .content .content-title {
    font-size: 48px;
    font-weight: 600;

    padding-bottom: 5px;
}

.homepage .content .content-description {
    font-size: 26px;
    font-weight: 200;
}

.homepage .content button {
    margin-top:70px;

    height:65px;
    width: 300px;
    background-color: white;
    border: .5px solid black;

    font-size: 26px;
    font-weight: 200;
}

.homepage .content button:hover {
    cursor:pointer;
}

.homepage .charger-image {
    position: absolute;
    right: 0;
    bottom:0;

    width: 70vmax;
}



.reasons {
    margin-bottom:100px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.reasons .reason-info-card {
    width: 27vw;
    margin: 1vw;

    display: inline-block;
 
    vertical-align:top;
    text-align: center;
}

.reasons .reason-info-card img {
    width: 8vw;
    margin-bottom: 3vw;
}
.reasons .reason-info-card .reason-info-title {
    font-size: 2.3vw;
    font-weight: 500;

    margin-bottom: 2vw;
}
.reasons .reason-info-card .reason-info-description {
    font-size: 1.5vw;
}


/* info block */
.info-block{
    text-align: center;
    padding: 6vw;
}

#info-block-grey {
    color: #8E8E91;
    background-color:#2C2D31;
    font-size: 2.9vw;
    line-height: 1.6;
}
#info-block-blue {
    color: black;
    background-color:#5AB9EA;
    font-size: 2.2vw;
    line-height: 1.6;
}


.stats {
    padding-bottom:5vmax;
    margin-top: 100px;
}

.stats .stats-intro {
    font-size: 2.7vw;
    /*margin-left: 10vw;*/
    text-align: center;
    margin-bottom: 2vw;
    color: #2C2D31;
    /*font-weight: 800;*/
}

.stats .stats-card {
    width: 29vw;
    margin: 1vw;

    display: inline-block;
    vertical-align:top;

    text-align: center;
}
.stats .vl {
    height: 15vw;
    width: 5px;
    display: inline-block;
    background-color: #2C2D31;
}
.stats .stats-card .stats-title {
    padding-top: 2vw;
    font-size: 4.5vw;
    font-weight: 700;
    color: #2C2D31;
}
.stats .stats-card .stats-description {
    font-size: 2vw;
    color: #2C2D31;
}




.case-study-slider .img-wrapper {
  position: relative;
  width: 100%;
  font-size: 0;
}

.case-study-slider .img-wrapper img {
    width:100%;
}
.case-study-slider .img-wrapper .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128,128,128,0.6);
}

.case-study-slider .case-study-info {
    position: absolute;
    left: 60vw;
    top: 7.5vw;
}

.case-study-slider .case-study-info .case-study-category{
    font-size: 2vw;
    font-weight: 100;
    color: white;


    text-shadow: 2px 2px #666666;
}

.case-study-slider .case-study-info .case-study-title{
    font-size: 3vw;
    color: white;
    margin-top: .5vw;

    text-shadow: 2px 2px #666666;
}

.case-study-slider .case-study-info .case-study-button{
    font-size: 1.5vw;
    font-weight: 200;
    margin-top: 1vw;
    height: 4vw;
    width: 20vw;
    background-color: white;
    box-shadow: 2px 2px #666666;
}

.how-it-works {
    padding-top:6vmax;
    padding-left: 14vw;
    padding-right: 14vw;
    padding-bottom:10vmax;
}

.how-it-works .hiw-title {
    font-size: 3vmax;
    text-align: center;
    padding-bottom: 3vmax;
}

.how-it-works .hiw-content {
    position: relative;
}

.how-it-works .hiw-content .hiw-item-list {
    width: 35vw;
    position: absolute;
    top:0;
    left:0;
}

.how-it-works .hiw-content .hiw-item-list .hiw-item {
    margin-top:2vmax;
    margin-bottom:2vmax;
    font-size: 2vmax;
    color: lightgrey;
    transition: 0.1s;
}

.how-it-works .hiw-content .hiw-item-list .hiw-item:hover {
   cursor: pointer;
   font-weight: 800;
}

.how-it-works .hiw-content .hiw-item-list #hiw-active {
    color: #EB8B80;
    font-weight: 800;
}

.how-it-works .hiw-content .hiw-image-list {
    width: 35vw;
    height: 23vmax;
    margin-bottom:-3vmax;
    margin-left: 35vw;
}

.how-it-works .hiw-content .hiw-image-list .hiw-image {
    display: none;
    width:100%;
    height:100%;
}

.how-it-works .hiw-content .hiw-image-list .hiw-image img {
    height: 100%;
}






.dashboard-info {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
    position: relative;
    height: auto;
}
.dashboard-info img {
    width: 60vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.dashboard-info .dash-text {
    position: absolute;
    right: 0px;
    top: 2vmax;
    width: 27vw;
    text-align:left;
}

.dashboard-info .dash-text .dash-title {
    font-size: 2vw;
    font-weight: 600;
}

.dashboard-info .dash-text .dash-description {
    margin-top: 1.5vw;
    font-size: 1.4vw;
    font-weight: 300;
    line-height: 1.5;
}



.arc-info {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 10vmax;
    margin-bottom: 2vmax;
    position: relative;
    height: 42vw;
}
.arc-info img {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.arc-info .arc-text {
    position: absolute;
    left: 0px;
    top: 2vmax;
    width: 27vw;
    text-align:right;
}

.arc-info .arc-text .arc-title {
    font-size: 2vw;
    font-weight: 600;
}

.arc-info .arc-text .arc-description {
    margin-top: 1.5vw;
    font-size: 1.4vw;
    font-weight: 300;
    line-height: 1.5;
}




.ergo-partners-block{
    margin-top: 150px;
    text-align: center;
    background-color:#5AB9EA;
    position: relative;
    height: 33vw;
}

.ergo-partners-block .ergo-partners-title {
    color: black;
    font-size: 2.5vw;
    padding: 3vw;
}

.ergo-partners-block .ergo-partners-logo-scroll {
    padding-bottom: 2vw;
}

.ergo-partners-block .ergo-partners-logo-scroll img {
    height: 15vw;
}


.ergo-partners-block .ergo-partners-action {
    position: absolute;
    right: 25px;
    bottom: 40px;
    font-size: 25px;
}

.ergo-partners-block .ergo-partners-action:hover {
    text-decoration: underline;
    cursor: pointer;
}



