#navbar-image {
    height:40px;
}

body {
    padding-top:70px;
}

.navbar {
    position: relative;
    height:70px;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -74px !important;  /* 50% of the logo width */
    display: block;
}