small, a {
  font-size: 0.9vw; }

p {
  font-size: 1vw; }

h2 {
  font-size: 2.5vw; }

h3 {
  font-size: 1.9vw; }

h4 {
  font-size: 1.3vw; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

.add-new-link {
  color: #68CCC9;
  font-weight: 600; }
  .add-new-link span {
    background: #68CCC9;
    display: inline-block;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vw;
    color: white;
    text-align: center;
    line-height: 1.5vw;
    margin-right: 0.5vw; }

#action-container {
  text-align: center; }
  #action-container button {
    text-transform: uppercase;
    text-align: center;
    padding: 1vw 3vw;
    margin: 1vw 1vw;
    font-size: 1vw;
    color: white;
    border-radius: 3px;
    border: none; }

.container {
  width: 50vw;
  margin: 0 auto;
  color: #707070; }
  .container .content {
    background: white;
    padding: 2vw 3vw; }

#request-form-container h3 {
  color: #68CCC9; }
  #request-form-container h3 small {
    display: block;
    color: #BFBFBF;
    font-weight: 500; }

form fieldset {
  border: none; }
  form fieldset .input-wrapper {
    display: inline-block;
    width: 20vw;
    padding: 1vw 0; }
    form fieldset .input-wrapper label {
      font-size: 1vw;
      display: block;
      color: #BFBFBF; }
    form fieldset .input-wrapper input {
      width: 100%;
      height: 2.5vw; }

#event-banner {
  height: 80vh;
  background: url("test_banner.jpg") no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }

#event-container {
  transform: translateY(-40vh);
  background: white;
  color: #707070; }
  #event-container table {
    table-layout: fixed;
    width: 30vw;
    margin: 3vw 0; }
  #event-container h2, #event-container h3 {
    color: #68CCC9; }
  #event-container #event-sign-up {
    background: #68CCC9; }

#quote-modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 200vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999; }
  #quote-modal-container #quote-modal {
    width: 50vw;
    min-height: 50vh;
    margin: 0 auto;
    border-radius: 1vw;
    padding: 2vw 3vw;
    margin-top: 10vh;
    background: white;
    vertical-align: middle;
    position: relative; }
    #quote-modal-container #quote-modal #quote-close-button {
      position: absolute;
      top: 1vw;
      right: 2vw;
      color: #707070;
      font-size: 2vw; }
    #quote-modal-container #quote-modal h2 {
      color: #EF6F6C; }
    #quote-modal-container #quote-modal small {
      font-size: 1vw;
      color: #D6D6D6;
      display: block;
      padding-bottom: 0.3vw;
      width: 100%;
      border-bottom: 1px solid #D6D6D6;
      margin-bottom: 2vw; }
    #quote-modal-container #quote-modal p {
      color: #707070; }
    #quote-modal-container #quote-modal h3 {
      color: #68CCC9; }
    #quote-modal-container #quote-modal #datetimes {
      width: 100%;
      table-layout: fixed;
      color: #707070;
      margin: 2vw 0; }
      #quote-modal-container #quote-modal #datetimes caption {
        text-align: left;
        color: #BFBFBF;
        font-weight: 700;
        font-size: 1vw;
        margin-bottom: 1.5vw; }
      #quote-modal-container #quote-modal #datetimes td {
        padding: 0;
        font-size: 1vw; }
      #quote-modal-container #quote-modal #datetimes #total {
        text-transform: uppercase;
        text-align: center; }
        #quote-modal-container #quote-modal #datetimes #total h5 {
          font-size: 1.2vw;
          color: #BFBFBF;
          margin: 0.5vw; }
        #quote-modal-container #quote-modal #datetimes #total h6 {
          margin: 0.5vw;
          font-size: 1.4vw;
          color: #707070; }
    #quote-modal-container #quote-modal #action-container {
      text-align: center;
      margin-top: 2vw; }
      #quote-modal-container #quote-modal #action-container #accept-quote {
        background: #68CC87; }
      #quote-modal-container #quote-modal #action-container #reject-quote {
        background: #D0403D; }

body {
  padding: 0;
  margin: 0;
  background: #F4F4F8;
  font-family: 'Helvetica'; }
  body nav {
    text-align: center;
    background: white;
    padding: 1vw;
    -webkit-box-shadow: 0 4px 4px -2px #aaa;
    moz-box-shadow: 0 4px 4px -2px #aaa;
    box-shadow: 0 4px 4px -2px #aaa; }
    body nav img {
      max-width: 8vw; }
  body main #dashboard-events-container {
    margin-top: 3vw; }
    body main #dashboard-events-container > h3 {
      color: #707070;
      font-size: 2vw; }
    body main #dashboard-events-container #dashboard-events {
      background: white;
      padding: 3% 5%; }
    body main #dashboard-events-container #dashboard-event-actions {
      text-align: right;
      color: #68CCC9;
      padding-bottom: 20px; }
      body main #dashboard-events-container #dashboard-event-actions a:after {
        content: "+";
        font-size: 2vw;
        padding-left: 1vw;
        line-height: inherit; }
    body main #dashboard-events-container #dashboard-event-cards .event-card {
      width: 100%;
      padding: 1.5vw 2vw;
      margin: 2vw 0;
      min-height: 9vw; }
      body main #dashboard-events-container #dashboard-event-cards .event-card.approved {
        background: #68CCC9;
        color: white; }
        body main #dashboard-events-container #dashboard-event-cards .event-card.approved .event-customer-actions {
          vertical-align: top; }
          body main #dashboard-events-container #dashboard-event-cards .event-card.approved .event-customer-actions .event-price {
            background: #89D9D7;
            padding: 0.5vw 0; }
            body main #dashboard-events-container #dashboard-event-cards .event-card.approved .event-customer-actions .event-price h2 {
              margin: 1vw; }
      body main #dashboard-events-container #dashboard-event-cards .event-card.pending {
        background: #F4F4F8;
        color: #707070; }
        body main #dashboard-events-container #dashboard-event-cards .event-card.pending .event-customer-actions {
          vertical-align: super; }
          body main #dashboard-events-container #dashboard-event-cards .event-card.pending .event-customer-actions img {
            width: 4vw;
            display: block;
            margin: 0 auto; }
      body main #dashboard-events-container #dashboard-event-cards .event-card > div {
        display: inline-block; }
        body main #dashboard-events-container #dashboard-event-cards .event-card > div.event-info {
          width: 29.5vw; }
          body main #dashboard-events-container #dashboard-event-cards .event-card > div.event-info h3 {
            margin: 0; }
          body main #dashboard-events-container #dashboard-event-cards .event-card > div.event-info .event-date {
            display: block;
            margin-bottom: 3vw; }
        body main #dashboard-events-container #dashboard-event-cards .event-card > div.event-customer-actions {
          text-align: center;
          width: 8vw; }

/*# sourceMappingURL=styles.css.map */
